<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/artikel.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="./">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./artikel">Artikel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./form">Pesanan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./layanan">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./portfolio">Portofolio</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <main class="main-content">
    <div class="card-container">
      <h1>Articles</h1>
      <a href="/artikel/create" class="button">Create New Article</a>
      <div id="articles">
        <% if (data.length) { %>
          <% data.forEach(article => { %>
            <div class="card" onclick="showArticle(<%= article.id %>)">
              <div class="card-title"><strong><%= article.title %></strong></div>
              <div class="card-content" id="content-<%= article.id %>"><%= article.content %></div>
              <div class="card-actions">
                <a href="/artikel/edit/<%= article.id %>" class="button edit-button">Edit</a>
                <a href="/artikel/delete/<%= article.id %>" class="button delete-button">Delete</a>
              </div>
            </div>
          <% }); %>
        <% } else { %>
          <p>No articles found</p>
        <% } %>
      </div>
    </div>
  </main>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2 id="modal-title"></h2>
      <p id="modal-content"></p>
    </div>
  </div>
  <script>
    function showArticle(id) {
      var title = document.querySelector(`#content-${id}`).parentElement.querySelector('.card-title').innerText;
      var content = document.querySelector(`#content-${id}`).innerText;

      document.getElementById('modal-title').innerText = title;
      document.getElementById('modal-content').innerText = content;

      document.getElementById('myModal').style.display = "block";
    }

      function closeModal() {
        document.getElementById('myModal').style.display = "none";
      }

      window.onclick = function(event) {
        if (event.target == document.getElementById('myModal')) {
          closeModal();
        }
      }
  </script>
</body>
</html>
