<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <% if (messages && messages.success && messages.success.length > 0) { %>
                    <div class="alert alert-success" role="alert"><%- messages.success %></div>
                <% } %>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>
                <div class="card">
                    <div class="card-body">
                        <a href="/create" class="button">Pesan</a>
                        <div class="table-container">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Email</th>
                                        <th>Nama</th>
                                        <th>Nomor Telepon</th>
                                        <th>Layanan</th>
                                        <th>Paket</th>
                                        <th>Deskripsi</th>
                                        <th>Edit/Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data && data.length > 0) { %>
                                        <% for(var i = 0; i < data.length; i++) { %>  
                                            <tr>
                                                <th scope="row" class="text-center"><%= (i + 1) %></th>
                                                <td><%= data[i].email %></td>
                                                <td><%= data[i].nama %></td>
                                                <td><%= data[i].notelp %></td>
                                                <td><%= data[i].layanan %></td>
                                                <td><%= data[i].paket %></td>
                                                <td><%= data[i].deskripsi %></td>
                                                <td class="text-center">
                                                    <a href="/update/<%= data[i].id %>" class="button2">EDIT</a>
                                                    <a onclick="return confirm('Are you sure?')" href="/delete/<%= data[i].id %>" class="button2">HAPUS</a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="4">
                                                <div class="alert alert-danger" role="alert">
                                                    Data Tidak Ditemukan!
                                                </div>
                                            </td>
                                        </tr>
                                    <% } %>    
                                </tbody>
                            </table>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>
