<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Graphica Lab</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="column">
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                    <% } %>
                <div class="card">
                    <div class="card-body">
                        <form action="/pesanan" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" value="<%= email %>" placeholder="Masukkan Email">
                            </div>
                            <div class="form-group">
                                <label>Nama</label>
                                <textarea class="form-control" name="nama" rows="4" placeholder="Masukkan Namamu"><%= nama %></textarea>
                            </div>
                            <div class="form-group">
                                <label>No Telepon</label>
                                <input type="number" class="form-control" name="notelp" value="<%= notelp %>" placeholder="Masukkan Nomor Telepon">
                            </div>
                            <div class="form-group">
                                <label>Layanan</label>
                                <select id="layanan" name="layanan">
                                    <% ['Desain Logo', 'Desain UI/UX', 'Desain Arsitektur Interior'].forEach(function(option) { %>
                                        <option value="<%= option %>" <% if (layanan === option) { %> selected <% } %>><%= option %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Paket</label>
                                <select id="paket" name="paket">
                                    <% ['Paket Basic', 'Paket Medium', 'Paket Premium'].forEach(function(option) { %>
                                        <option value="<%= option %>" <% if (paket === option) { %> selected <% } %>><%= option %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>deskripsi</label>
                                <input type="text" class="form-control" name="deskripsi" value="<%= deskripsi %>" placeholder="Masukkan Deskripsi">
                            </div>
                            <button type="submit" class="button">SIMPAN</button>
                            <button type="reset" class="button">RESET</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
</html>